// mixins

@mixin logo-sprite($companie-name, $top: false, $right: false, $bottom: false, $left: false)
  +companies-sprite($companie-name)
  height: companies-sprite-height($companie-name)
  width: companies-sprite-width($companie-name)
  background-color: #eaeaea
  @if $top != false
    top: #{ $top }px
  @if $right != false
    right: #{ $right }px
  @if $bottom != false
    bottom: #{ $bottom }px
  @if $left != false
    left: #{ $left }px

@mixin highlight-quotes($companie-name, $top: false, $right: false, $bottom: false, $left: false)
  h2
    +companies-sprite(#{ $companie-name }-logo)
    height: companies-sprite-height(#{ $companie-name }-logo)
    width: companies-sprite-width(#{ $companie-name }-logo)
  blockquote
    +quotes-sprite($companie-name)
    height: quotes-sprite-height($companie-name)
    width: quotes-sprite-width($companie-name)
    @if $top != false
      top: #{ $top }px
    @if $right != false
      right: #{ $right }px
    @if $bottom != false
      bottom: #{ $bottom }px
    @if $left != false
      left: #{ $left }px

//-----------------------------------------------------------------------
//
//  Award » Header
//
//  Contains all header style.
//
//-----------------------------------------------------------------------

.award-page
  background: #78ebca
  .main-header
    background: $green
    text-align: center

//-----------------------------------------------------------------------
//
//  Award » Video
//
//  Contains all Video style.
//
//-----------------------------------------------------------------------

.award-page
  .video-intro
    width: 100%
    .cover
      height: 100%
      display: block

  .video-container
    position: relative

  .video-content-wrapper
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    .video-call-to-action
      position: absolute
      z-index: 3
      top: 50%
      left: 50%
      width: 85px
      margin-left: -42px
      margin-top: -42px
    h1
      display: none

  .video-wrapper
    padding: 0

  video
    display: block
    width: 100%

  .video-js
    .vjs-tech
      position: static

  .vjs-big-play-button
    display: none !important

  .play-button
    +transition-property(background)
    +transition-duration(1s)
    +border-radius(100%)
    display: block
    width: 85px
    height: 85px
    background: rgba(255, 255, 255, .5)
    cursor: pointer
    margin: 0 auto
    &:hover
      background: rgba(255, 255, 255, .9)

  .line
    display: none

@media (min-width: 481px)
  .award-page
    .video-content-wrapper
      .video-call-to-action
        width: 360px
        margin-left: -180px
        margin-top: -96px
        text-align: center
      h1
        display: block
        +adjust-font-size-to(20px)
        line-height: 1.2em
        letter-spacing: 1px
        color: #fff
        text-transform: uppercase
        margin-top: 35px
        margin-bottom: 0
      .line
        display: block
        width: 30px
        height: 0px
        border-top: 4px solid #fff
        margin: 20px auto

@media (min-width: 768px)
  .award-page
    .video-content-wrapper
      .video-call-to-action
        margin-top: -116px
      h1
        margin-top: 55px

//-----------------------------------------------------------------------
//
//  Award » Description
//
//  Contains all description (insightm, idea and impact) section
//
//-----------------------------------------------------------------------

.award-page
  .description
    background: #eaeaea
    padding: 80px 0

  .description-block-wrapper
    +span-columns(16)

  .description-block
    padding: 0 10%
    margin-top: 60px
    &:first-child
      border-left: 0
      margin-top: 0
    h2
      +adjust-font-size-to(22px)
      text-align: center
      color: $green
      text-transform: uppercase
      line-height: 1em
      margin-top: 0
    p
      +adjust-font-size-to(12px)
      line-height: 1.2em

@media (min-width: 768px)
  .award-page
    .description-block
      float: left
      width: 33.33333333%
      border-left: 3px solid $green
      padding-left: 50px
      padding-right: 30px
      min-height: 110px
      margin-top: 0
      h2
        text-align: left

@media (min-width: 1024px)
  .award-page
    .description-block
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0

//-----------------------------------------------------------------------
//
//  Award » Impact tree
//
//  Contains all impact-tree section style.
//
//-----------------------------------------------------------------------

.award-page
  .results
    background: #78ebca

.impact-tree
  background: #a1f1da url("/assets/award/result-tree.png") top center no-repeat
  position: relative
  width: 77%
  height: 940px
  margin: 0 auto
  h1
    +adjust-font-size-to(22px)
    position: absolute
    top: 110px
    left: 222px
    width: 250px
    margin: 0
    line-height: 1.14em
    text-transform: uppercase
    letter-spacing: 0.4px
    text-align: center
  h2
    +border-radius(100%)
    text-indent: -9999em
    position: absolute
    margin: 0

.impact-tree
  .fast-company
    +logo-sprite("fast-company", $top: 173, $left: -23)
  .good
    +logo-sprite("good", $top: 317, $left: 104)
  .aol
    +logo-sprite("aol", $top: 258, $left: 190)
  .ard
    +logo-sprite("ard", $top: 316, $left: 351)
  .yahoo
    +logo-sprite("yahoo", $top: 215, $right: 68)
  .taxi
    +logo-sprite("taxi", $top: 360, $left: -26)
  .abc
    +logo-sprite("abc", $top: 416, $left: 51)
  .redbox
    +logo-sprite("red-box", $top: 455, $left: 154)
  .psfk
    +logo-sprite("psfk", $top: 420, $left: 299)
  .digiday
    +logo-sprite("digiday", $top: 405, $right: 249)
  .fubiz
    +logo-sprite("fubiz", $top: 409, $right: 123)
  .emitionalmojo
    +logo-sprite("emotional-mojo", $top: 339, $right: -19)
  .canvas8
    +logo-sprite("canvas8", $top: 524, $left: -25)
  .takeapart
    +logo-sprite("takepart", $top: 538, $left: 87)
  .trendhunter
    +logo-sprite("trend-hunter", $top: 526, $left: 188)
  .mashable
    +logo-sprite("mashable", $top: 569, $left: 297)
  .nasdaq
    +logo-sprite("nasdaq", $top: 500, $right: 241)
  .nationswell
    +logo-sprite("nation-swell", $top: 552, $right: 160)
  .bluebus
    +logo-sprite("blue-bus", $top: 497, $right: 14)
  .minutos
    +logo-sprite("minutos", $top: 656, $left: 111)
  .influencia
    +logo-sprite("influencia", $top: 671, $left: 183)
  .swr
    +logo-sprite("swr", $top: 694, $left: 362)
  .hotdigital
    +logo-sprite("hot-digital", $top: 656, $right: 44)
  .kenh
    +logo-sprite("kenh", $top: 836, $left: 190)
  .irorio
    +logo-sprite("irorio", $top: 795, $right: 174)

//-----------------------------------------------------------------------
//
//  Award » Highlight quotes
//
//  Contains all highlighted quotes section
//
//-----------------------------------------------------------------------

.notable-results
  +pie-clearfix()
  background: #a1f1da
  width: 77%
  margin: 0 auto
  padding: 70px 0 90px
  .col
    float: left
    width: 25%
    height: 100%
    padding: 25px 25px 0
    h2
      text-indent: -9999em
      margin: 0
  .quote
    position: relative
  blockquote
    position: absolute
    margin: 0
    top: -80px
    text-indent: -9999em

.abc-news-logo
  +highlight-quotes("abc", $top: -57, $left: -223)
  margin-top: 30px

.fast-company-logo
  +highlight-quotes("fast-company", $top: -70, $left: -219)
  margin-top: 239px

.mashable-logo
  +highlight-quotes("mashable", $right: -202)
  margin-top: 186px
  margin-left: 20px

.nasdaq-logo
  +highlight-quotes("nasdaq", $top: -87, $right: -214)
  margin-top: 245px
  margin-left: 7px

.video-examples
  float: left
  width: 50%
  text-align: center
  h2
    +adjust-font-size-to(16px)
    color: darken(#91edd2, 10%)
    text-transform: uppercase
    margin: 0 0 5px
  a
    margin-bottom: 10px
    +inline-block

//-----------------------------------------------------------------------
//
//  Award » Bottom
//
//  Contains all bottom section style.
//
//-----------------------------------------------------------------------

.bottom
  width: 100%
  background: #78ebca
  padding-top: 4px
  .ipad
    position: absolute
    left: -150px
    top: -415px
    img
      width: 100%

  .ipad-block
    height: 595px
    width: 100%
    position: relative
  .container.visit
    position: relative
    height: 250px
  .money
    display: block
    margin: 0 auto

.bottom-wrapper
  background: #a1f1da
  width: 77%
  margin: 0 auto
  padding-top: 105px
  padding-bottom: 560px

.visit-website
  position: absolute
  display: block
  width: 490px
  height: 250px
  bottom: -90px
  right: 290px
  z-index: 2
  background: url("/assets/award/visit-website.png") no-repeat
  &:hover
    background: url("/assets/award/visit-website-hover.png") no-repeat













