//-----------------------------------------------------------------------
//
//  Base » Award
//
//  Contains all award page style.
//
//-----------------------------------------------------------------------

.award-page
  .main-header
    background: $green
    text-align: center

  .video-intro
    height: 750px
    background: url("/assets/award/video-placeholder-image.jpg") center top no-repeat
    background-size: cover
    padding-top: 1px // used to prevent margin collapse
    position: relative

  .video-content-wrapper
    position: absolute
    top: 50%
    left: 50%
    width: 360px
    margin-left: -180px
    text-align: center
    h1
      +adjust-font-size-to(20px)
      line-height: 1.2em
      color: #fff
      text-transform: uppercase
      margin-top: 55px
      margin-bottom: 0

  .play-button
    +transition-property(background)
    +transition-duration(1s)
    +border-radius(100%)
    display: block
    width: 85px
    height: 85px
    background: rgba(255, 255, 255, .5)
    cursor: pointer
    margin: 0 auto
    &:hover
      background: rgba(255, 255, 255, .9)

  .line
    display: block
    width: 30px
    height: 4px
    background: #fff
    margin: 20px auto

  .description
    background: #eaeaea
    padding: 80px 0

  .description-block-wrapper
    +span-columns(16)

  .description-block
    float: left
    width: 33.33333333%
    border-left: 3px solid $green
    padding-left: 55px
    padding-right: 55px
    min-height: 160px
    &:first-child
      border-left: 0
    h2
      +adjust-font-size-to(22px)
      color: $green
      text-transform: uppercase
      line-height: 1em
      margin-top: 0
    p
      +adjust-font-size-to(12px)
      line-height: 1.2em












